body {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
}
html {
  font-size: 62.2%;
}
.navbar {
  position: fixed;
  width: 100%;
  height: 7rem;
  background-color: blue;
  display: flex;

  justify-content: space-around;
  align-items: center;
  color: aliceblue;
  z-index: 1;
}
.container {
  z-index: -100;
}
.nav_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  left: 0%;
  margin-right: auto;
}
.nav_list li {
  list-style-type: none;
  margin-left: 5rem;
}
.nav_list li a {
  text-decoration: none;
  font-size: 2rem;
  color: aliceblue;
  letter-spacing: 1px;
  transition: all 0.4s;
  margin: 0%;
  padding: 2px 7px;
}
.nav_list li a:hover {
  background-color: red;
  border-radius: 5px;
}
.logo h1 {
  position: absolute;
  top: 10%;
  right: 5%;
  margin: 0%;
  font-size: 3rem;
}
.main_sec {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  margin: 0%;

  background: url(gymbg.jpg) no-repeat center center scroll;

  color: aliceblue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main_sec h1 {
  font-size: 6rem;
  text-transform: uppercase;
  margin: 7px 0px;
}
.main_sec h3 {
  text-transform: uppercase;
  font-size: 3rem;
  padding: 0%;
  margin: 7px 0px;
}
.main_sec p {
  text-align: center;
}
#btn {
  outline: none;
  padding: 0.6rem 1.5rem;
  font-weight: bolder;
  background-color: blue;
  border: 0.8px solid white;
  color: aliceblue;
  font-size: 2rem;
  border-radius: 3px;

  cursor: pointer;
  transition: all 0.4s;
}
#btn:hover {
  background-color: red;
  border: 1px solid white;
  cursor: pointer;
  z-index: 2;
}
.font_red {
  color: red;
}
.features {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  background-color: rgb(198, 22, 22);
}
.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: auto;
  margin-left: 5rem;

  background-color: aliceblue;
  color: black;
  box-shadow: 1px 2px 5px rgb(63, 61, 61);
}
.card img {
  width: 100%;
  height: 30%;
}
.card h1 {
  color: red;
}
.card p {
  padding: 0.5rem;
  text-align: center;
}
.card .btn1 {
  outline: none;
  padding: 0.6rem 1.5rem;
  font-weight: bolder;
  background-color: blue;
  border: 0.8px solid white;
  color: aliceblue;

  border-radius: 3px;
  margin-bottom: 1rem;
  transition: all 0.4s;
}
.card .btn1:hover {
  background-color: red;
  border: 1px solid white;
  cursor: pointer;
}
.features h2 {
  font-size: 5rem;
  text-transform: uppercase;
}
.about_sec {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.about_sec img {
  width: 30%;
  margin: 2rem 2rem;
}
.content_sec {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.content_sec h1 {
  font-size: 7rem;
  color: red;
}
.content_sec p {
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
}
.content_sec h2 {
  font-size: 4rem;
  color: red;
}
.content_sec h3 {
  font-size: 3rem;
}
.content_btn .btn2 {
  outline: none;
  padding: 0.6rem 1.2rem;
  font-weight: bolder;
  background-color: blue;
  border: 0.8px solid white;
  color: aliceblue;

  border-radius: 3px;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.content_btn .btn2:hover {
  background-color: red;
  border: 1px solid white;
  cursor: pointer;
}
.contact_sec {
  width: 100vw;
  height: 70vh;
  background-color: red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.contact_sec h1 {
  font-size: 6rem;
  color: aliceblue;
}
.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  width: 20%;
  height: auto;
  background-color: aliceblue;
}
.form_sec {
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
input {
  width: 90%;
  margin: 2rem auto;
  padding: 0.5rem;
  border-radius: 3px;
  outline: none;
  border: 2px solid brown;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: black;
}
.btn3 {
  outline: none;
  padding: 0.6rem 1.2rem;
  font-weight: bolder;
  background-color: blue;
  border: 0.8px solid white;
  color: aliceblue;

  border-radius: 3px;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.btn3:hover {
  background-color: red;
  border: 1px solid white;
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
  html {
    font-size: 55%;
  }
  .logo > h1 {
    position: relative;
    margin-bottom: 2rem;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0%;
    padding: 0%;
    height: 15rem;
  }
  .nav_list {
    display: flex;

    width: 100%;
    justify-content: center;
    align-items: center;

    z-index: 300;
    position: absolute;
    top: 55%;
    margin: 0%;
    padding: 0%;
  }
  .nav_list li {
    margin: 1rem;
  }
  .about_sec {
    flex-direction: column-reverse;
  }

  .active {
    display: flex;

    background-color: blue;
  }
  .features {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    display: block;
    text-align: center;
    height: auto;
    width: 50%;
    margin: 0%;
    margin-bottom: 2rem;
  }
  .contact_sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact_form {
    width: 60%;
  }
}
@media only screen and (max-width: 700px) {
  html {
    font-size: 50%;
  }
  .main_sec{
    text-align: center;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 35%;
  }
}
